!!!
%html
  /[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  /[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
  /[if IE 8] <html class="no-js lt-ie9" lang="en">
  %head
    %title BlightStatus is here!
    %link{:rel => 'http://fonts.googleapis.com/css?family=Lato:400,700', :rel=>'stylesheet', :type=>'text/css'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles/bootstrap-responsive.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles/application.css"}
    :javascript
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/AnEExsn4LGHKhHip3p4nQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    %meta{:charset => "utf-8"}
      %meta{:content => "", :name => "description"}
        / Mobile viewport optimized: h5bp.com/viewport
        %meta{:content => "width=device-width", :name => "viewport"}
  %body{ "data-spy"=>"scroll", "data-target"=>".bs-docs-sidebar"}
    .header-background
    %header.header
      .container
        .span1
        .logo.pull-left{:style => "padding: 5px 0;"}
          %a{:href => "/"}
            %img{:src => "/images/logo-stronger.png", :width => "220px"}
        .navbar.pull-left{:style => "padding: 0; margin: 0"}
          %ul.nav{:style => "padding: 11px 20px 0"}
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "/about"} About


    .container
    .container
      .row
        .span1
          %br
        .span10
          %h1 
            &nbsp;
          #header-logo.header-logo
        .span1
          %br


      .row          
        .span12
          &nbsp;
          %br
          %br
          %br
      .row
        .span2
          &nbsp;    
        .span8
          %h1{:style => "text-align: center"}
            We have launched in New Orleans!
            %br
            %a{:href=> "http://bit.ly/QTUdIH"} blightstatus.nola.gov
            %br
            %br
        .span2
          &nbsp;    
      .row
        .span1
        .span3
          %h2{:style => "margin: 0 0 10px; padding: 0;"}
            What is BlightStatus?
          %p 
            %b
              BlightStatus 
            makes it simple for residents to find out what’s going on with blighted properties in their community – no long waits on the telephone or visits to City Hall required.


        /{"style" => "border: 1px solid black"}
        .span4
          %p
            %iframe{:frameborder => "0", :height => "251", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/49144625", :webkitAllowFullScreen => "", :width => "100%"}

        / .span1
        .span3
          %h2{:style => "margin: 0 0 10px; padding: 0;"}
            Sign up for updates
          .signup
            %form{:action => '/signup', :method => 'POST'}
              %p
                Enter your email below, and we'll let you know when we've launched
              %br
              .error
              %input.email{:name => 'email', :type => 'text', :placeholder => "Email"}
              %input{:type => 'submit', :value => "Sign me up", :class => "btn btn-large btn-primary"}

      .row
        .span4
        .span8
          / %iframe{:allowFullScreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/49144625", :webkitAllowFullScreen => "", :width => "400"}



      .row
        .span1
        .span10
          %hr
        .span1



      .row
        .span12
          &nbsp;
          %br
          %br
          %br
          / %img{:width => "300px", :src => "/images/sample-address.png"}
        .span1


    %footer
      .container.footer
        a project of 
        %a{:href => "http://codeforamerica.com"} Code for America
        ·          
        %a{:href => "http://github.com/codeforamerica/blightstatus"} Fork me on GitHub 

        

      %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
      %script{:src => "/js/application.js"}

      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31630834-1']);
        _gaq.push(['_setDomainName', 'herokuapp.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
