!!!
%html
  /[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  /[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
  /[if IE 8] <html class="no-js lt-ie9" lang="en">
  %head
    %title blightSTATUS is coming soon!
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles/application.css"}
    %meta{:charset => "utf-8"}
      %meta{:content => "", :name => "description"}
        / Mobile viewport optimized: h5bp.com/viewport
        %meta{:content => "width=device-width", :name => "viewport"}
  %body
    #tag
      %a{:href => "http://www.codeforamerica.org"}
        %img{:border => "0", :src => "http://jlord.us/tag_cfa.png", :width => "100px"}/
    #topbar
      %p
        %img{:height => "20px", :src => "http://jlord.us/code_flag.png"}>/
        Created by Code for America in partnership with the City of New Orleans.
        = succeed "." do
          %a{:href => "http://www.codeforamerica.org", :target => "_blank"} Learn more
    %div.container.hero-unit
      .navbar.navbar-fixed-top
      %header.page-header
        %h1
          %span.upper Hi there.
        %h1 
          Thanks for visiting!
        %br
        %h2 
          BlightSTATUS isn't ready to launch yet, but if you're here we have some things you can do:

      %main
        %ul.unstyled
          %li
            #signup-btn.toggle-btn
              %a.btn.btn-large.btn-primary{:href => "#"}
                Sign up for updates
            %br
            .signup.dropdown.hidden
              %form{:action => '/signup', :method => 'POST'}
                %h3
                  Enter your email below, and we'll let you know when we've launched
                %br
                .error
                %input.email{:name => 'email', :type => 'text', :placeholder => "Email"}
                %input{:type => 'submit', :value => "Sign me up"}
          %li
            #mockup-btn.toggle-btn
              %a.btn.btn-large.btn-primary{:href => "#mockups"}
                View potential designs
            %br
            .mockups.dropdown.hidden
              #mockup-carousel.carousel
                .carousel-inner
                  .active.item
                    %img{:src => "/images/1.png"}
                  .item
                    %img{:src => "/images/2.png"}
                  .item
                    %img{:src => "/images/3.png"}
                  .item
                    %img{:src => "/images/4.png"}
                  .item
                    %img{:src => "/images/5.png"}
                  .item
                    %img{:src => "/images/6.png"}

                .carousel-control.left{:href => "#mockup-carousel", "data-slide" => "prev"}
                  &lsaquo;
                .carousel-control.right{:href => "#mockup-carousel", "data-slide" => "next"}
                  &rsaquo;
          %li
            #dev-btn
              %a.btn.btn-large.btn-primary{:href => "http://blightstatus-dev.herokuapp.com", :target => "_blank"}
                View development site

      %footer

      %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
      %script{:src => "/js/application.js"}
      %script{:src => "/js/bootstrap-carousel.js"}

      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31630834-1']);
        _gaq.push(['_setDomainName', 'herokuapp.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
