

body{
	font-weight: normal;
	height: 100%;
	width: 100%;

}

p{
	font-size: 110%;	
  font-family: "Lato";
}
.upper {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

#tag{
	position: absolute;
	right: 5%;
	top: -8px;
}

.error {
  color: #df382c;
}

#mockup-carousel .item img {
  width: 100%
}

.nav{
	margin-bottom: 0;
}

body{
  height: 100%;
  width: 100%;
}

header {
	background: #eee;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #ddd;

}

footer{
  text-align: center;
  bottom: 0;
  background: #eee;
  padding: 20px 0;
  font-weight: 400;
  width: 100%;
	width: 100%;
  border-top: 1px solid #ddd;

}

.full-width{
  width: 1000px;
  margin: 0 auto;
}
.left-bar{
  border: none;
  min-height: 500px;
}
.right-bar{
  border: none;
  min-height: 500px;
}




.code-for-america{
  background: url("/images/partner-logos.png") no-repeat scroll 7px -60px transparent;
  width: 135px;
  height: 70px;
  float: left;
}

.city-of-new-orleans{
  background: url("/images/partner-logos.png") no-repeat scroll -145px 0px transparent;
  width: 130px;
  height: 130px;      
  float: left;
}

.nora{
  background: url("/images/partner-logos.png") no-repeat scroll 0px -10px transparent;
  width: 140px;
  height: 50px;
  float: left;
}



.img-block{
  width: 100px;
  float: left;
  padding: 8px 5px;
  text-align: center;
  padding-left: 0;
  img{
    border: 1px solid #eee;
    padding: 1px;
  }
}

h1, h2, h3{
  line-height: 100%;
}

h1{
  font-family: "Lato";      
}
h3{
  font-family: "Lato";
}

h2{
  font-weight: 300;
  font-family: "Lato";
  border-bottom: 1px solid $darkerBeige;
  margin: 0;
  padding: 0;
}



.row h2{
  margin: 10px 0 20px !important;
}


.header-logo{
  background: url('/images/logo.png') repeat scroll 3px -50px transparent; 
  width: 100%; 
  height: 300px;

}
@media (max-width: 767px) { 

  .header-logo{
    background: url("/images/logo.png") repeat scroll -180px  -50px transparent;
    width: 100%; 
    height: 300px;

  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .header-logo{
    background: url("/images/logo.png") repeat scroll -180px  -50px transparent;
    width: 100%; 
    height: 300px;

  }
}
