

body{
	font-weight: normal;
	height: 100%;
	width: 100%;
  font-family: "Lato", helvetica, arial, sans-serif;
}


.header-background{
  z-index: -100; 
  position: absolute; 
  top: 0; left: 0; width: 100%; height: 61px; 
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F9F9F9));
  background: linear-gradient(#FFFFFF, #F9F9F9);
  background: -moz-linear-gradient(center top , #FFFFFF 0%, #F9F9F9 50%, #F1F1F1 65.1%, #EFEFEF 100%) repeat scroll 0 0 transparent;

}


p{
	font-size: 110%;	
}
.upper {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

#tag{
	position: absolute;
	right: 5%;
	top: -8px;
}

.error {
  color: #df382c;
}

#mockup-carousel .item img {
  width: 100%
}

.nav{
	margin-bottom: 0;
}

body{
  height: 100%;
  width: 100%;
}

header {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #ddd;

}

footer{
  text-align: center;
  bottom: 0;
  background: #eee;
  padding: 20px 0;
  font-weight: 400;
  width: 100%;
	width: 100%;
  border-top: 1px solid #ddd;

}

.full-width{
  width: 1000px;
  margin: 0 auto;
}
.left-bar{
  border: none;
  min-height: 500px;
}
.right-bar{
  border: none;
  min-height: 500px;
}




.code-for-america{
  background: url("/images/partner-logos.png") no-repeat scroll 7px -60px transparent;
  width: 135px;
  height: 70px;
  float: left;
}

.city-of-new-orleans{
  background: url("/images/partner-logos.png") no-repeat scroll -145px 0px transparent;
  width: 130px;
  height: 130px;      
  float: left;
}

.nora{
  background: url("/images/partner-logos.png") no-repeat scroll 0px -10px transparent;
  width: 140px;
  height: 50px;
  float: left;
}




.gnof{
  background: url("/images/gnof_logo.png") no-repeat scroll 10px 5px transparent;
  float: left;
  height: 150px;
  width: 99px;
}

.osf{
  background: url("/images/OSF_logo.png") no-repeat scroll 10px 0 transparent;
  float: right;
  height: 60px;
  width: 250px;

}
.ford{
  background: url("/images/Ford_logo.png") no-repeat scroll 10px 0 transparent;
  float: right;
  height: 60px;
  width: 250px;
}

.img-block{
  width: 100px;
  float: left;
  padding: 8px 5px;
  text-align: center;
  padding-left: 0;
  img{
    border: 1px solid #eee;
    padding: 1px;
  }
}

h1, h2, h3{
  line-height: 100%;
}

h2{
  font-weight: 300;
  border-bottom: 1px solid $darkerBeige;
  margin: 0;
  padding: 0;
}

h4{
  font-weight: 300;
}



.row h2{
  margin: 10px 0 20px !important;
}



@media (min-width: 600px) { 
  .header-logo{
    background: url("/images/banner600.png") no-repeat scroll 0px 0px transparent;
    width: 100%; 
    height: 300px;
    border: 1px solid black;

  }
}

@media (min-width: 648px) { 
  .header-logo{
    background: url("/images/banner800.png") no-repeat scroll -63px -34px transparent;
    width: 100%; 
    height: 300px;
    border: 1px solid black;

  }
}


@media (min-width: 800px) { 

  .header-logo{
    background: url("/images/banner800.png") no-repeat scroll -96px -15px transparent;
    width: 100%; 
    height: 300px;
    border: 1px solid black;

  }
}

@media (min-width: 980px) { 

  .header-logo{
    background: url('/images/logo.png') no-repeat scroll -105px -60px transparent; 
    width: 100%; 
    height: 300px;
    border: 1px solid black;
  }

}

@media (min-width: 1190px) { 

  .header-logo{
    background: url('/images/logo.png') no-repeat scroll -101px -64px transparent; 
    width: 100%; 
    height: 300px;
    border: 1px solid black;
  }

}

@media (min-width: 1240px) { 

  .header-logo{
    background: url('/images/logo.png') no-repeat scroll -1px -60px transparent; 
    width: 100%; 
    height: 300px;
    border: 1px solid black;
  }

}




.header-logo:hover{
  cursor: pointer;
}
